<!-- Content Row-->
<div class="row gx-4 gx-lg-5">
    <div class="col-md-4 mb-5">
        <div class="card h-100">
            <div class="card-body">
                <h2 class="card-title">First Market</h2>
                <p class="card-text">A fruit stand is a primarily open-air business venue that sells seasonal fruit and many<br/> fruit products from local growers. It might<br/> also sell vegetables and various processed items <br/>derived from fruit. The fruit<br/> stand is a small business structure that is primarily <br/>run as an independent sole proprietorship,<br/> with very few franchises or branches of larger <br/>fruit stand conglomerates, though many large <br/>food industry businesses have developed from fruit<br/> stand businesses.<br/> 
                    The fruit stand has been a neighborhood hub for many generations and is one of the <br/>few enterprises that is important to every culture <br/>and readily available on every continent. Fruit <br/>stands still comprise a primary distribution system <br/>for the fresh produce consumed by millions in developing <br>countries.</p>
            </div>
            <div class="card-footer"><a class="btn btn-primary btn-sm" href="#!">More Info</a></div>
        </div>
    </div>
    <div class="col-md-4 mb-5">
        <div class="card h-100">
            <div class="card-body">
                <h2 class="card-title">A century and a half of food safety regulation</h2>
                <p class="card-text">"The U.S. Department of Agriculture was created in the 1860s. <br/>
                    By the 1890s, the USDA was beginning to become involved <br/>
                    in livestock inspections. In 1905, the U.S. government had<br/>
                    a call to action when Upton Sinclair polemic against unsanitary<br/>
                    working conditions at the expansive Chicago stockyards was published  <br/> 
                    as a magazine serial. This became a national issue in part because the<br/>
                    millions of animals were slaughtered and processed each year were distributed <br/>
                    via rail to markets all across the nation. Initially a socialist's demand <br/>
                    for better conditions for labor, ‘The Jungle’ was a catalyst for <br/>
                    food industry regulation.<br/></p>
            </div>
            <div class="card-footer"><a class="btn btn-primary btn-sm" href="#!">More Info</a></div>
        </div>
    </div>
    <div class="col-md-4 mb-5">
        <div class="card h-100">
            <div class="card-body">
                <h2 class="card-title">CORE VALUES</h2>
                <p class="card-text">At Fresh Fruits, we believe customer satisfaction<br/> 
                    begins with the earth: the land from which the grower <br/>
                    creates fine brands and fine produce that are key to our<br/>
                     way of doing business.We believe that integrity,<br/> 
                     trustworthiness and honesty are integral to who we are <br/>
                     as a company, and so, we insist that at every stage of what we do,<br/> 
                     Fresh Fruits works in partnership with our suppliers,. We insist<br/>
                     on ‘Fair Trade’ principles and ethical business practices that<br/>
                     support even the smallest grower.<br/>                
                     We also stipulate that the choice of produce we accept,<br/>
                     and its delivery to the supermarket shelf and your customers’ <br/>
                     tables, are all done to the highest ethical and quality standards.<br/>              
                     It is this passion for getting things right and our refusal to compromise <br/>
                     on quality that have established our reputation for nearly four decades.<br/></p>
            </div>
            <div class="card-footer"><a class="btn btn-primary btn-sm" href="#!">More Info</a></div>
        </div>
    </div> 
</div>

