<!-- Page Content-->
<div class="container px-4 px-lg-5">
    <!-- Heading Row-->
    <div class="row gx-4 gx-lg-5 align-items-center my-5">
        <div class="col-lg-7"><img class="img-fluid rounded mb-4 mb-lg-0" src="assets/FruitsLogo.png" alt="..." /></div>
        <div class="col-lg-5">
            <h1 class="font-weight-light">Fruit and vegetables market observatory</h1>
            <p>The aim of the EU fruit and vegetables market observatory is to provide the EU fruit and vegetables sector with more transparency by means of disseminating market data and short-term analysis in a timely manner. The market observatory has an expert group, which is divided in four subgroups on pip fruit, citrus fruit, stone fruit and tomatoes.</p>
            <a class="btn btn-primary" href="#!">Call to Action!</a>
        </div>
    </div>
    <!-- Call to Action-->
    <div class="card text-white bg-secondary my-5 py-4 text-center">
        <div class="card-body"><p class="text-white m-0">Featured Market Goods</p></div>
    </div>
