<!-- Page Content-->
<div class="container px-4 px-lg-5">
    <!-- Heading Row-->
    <div class="row gx-4 gx-lg-5 align-items-center my-5">
        <div class="col-lg-7">
            <img class="img-fluid rounded mb-4 mb-lg-0" src="assets/FruitsLogo.png" alt="..." /></div>
        <div class="col-lg-5">
            <h1 class="font-weight-light">Fruit and vegetables market observatory</h1>
            <p>The aim of the EU fruit and vegetables market observatory is to provide<br/>
               the EU fruit and vegetables sector with more transparency by means of<br/>
               disseminating market data and short-term analysis in a timely manner.<br/>
               The market observatory has an expert group, which is divided in four<br/> 
               subgroups on pip fruit, citrus fruit, stone fruit and tomatoes.As our<br/> 
               name suggests, at Fresh Fruits Company, our vision is to supply every one <br/>
               of our customers with the freshest, highest quality fruit and vegetables.<br/>
              In a country of expatriates, we aim to source products from every country, <br/> 
              so everyone has a taste of home—and the exotic flavours they may have never <br/>
              tried—all with our signature freshness.<br/> 
              Add to this our desire to supply you and your customers delicious foods at<br/>
              a price that is as terrific as the taste.<br/>                
              We achieve our quality through a rigorous selection of farms and partner <br/>
              suppliers who share our vision of affordable quality, as well as our insistence <br/>
              on operating a short supply chain; a dedicated and ultra-efficient logistics system,<br/>
              and a brand new, state-of-the-art storage facility that underscores our commitment to <br/> 
              fast, fresh delivery.<br/>               
              At Fresh Fruits, we deliver a whole world of freshness—no matter who,<br/>
              or where you are.</p>
            <a class="btn btn-primary" href="#!">Call to Action!</a>
        </div>
    </div>
    <!-- Call to Action-->
    <div class="card text-white bg-secondary my-5 py-4 text-center">
        <div class="card-body"><p class="text-white m-0">Featured Market Goods</p></div>
    </div>
    