<H1>Fruits<H1><div class="row gx-4 gx-lg-5 align-items-center my-5">
    <div class="col-lg-7">
        <img class="img-fluid rounded mb-4 mb-lg-0" src="assets/FruitsLogo.png" alt="..." /></div>
        <div class="col-lg-5">
            <P>Fruits and vegetables contain important vitamins, minerals and plant chemicals. They also contain fibre.
    There are many varieties of fruit and vegetables available and many ways to prepare, cook and serve them.
    A diet high in fruit and vegetables can help protect you against cancer, diabetes and heart disease.
    Eat five kinds of vegetable and two kinds of fruit every day for good health.
    Most Australians do not eat enough fruit and vegetables.
    When buying and serving fruit and vegetables, aim for variety to get the most nutrients and appeal.</P> </div>
    </div>